.colum-1 {
    width: 25%;
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    padding: 55px;
    border-right: solid 2px #7FD958;
}

.img-profile {
    border: solid 4px #7FD958;
    border-radius: 50%;
    align-items: center;
}

.img {
    align-self: center;
    background-color: #7FD958;
    background-image: url('../img/profile.jpg');
    background-size: cover; 
    background-position: 50% 50%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    flex-wrap: wrap;
    cursor: pointer;
}

.img:hover{
    animation: zoom-infinite 10s; 
}

@keyframes zoom-infinite {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 120%; 
    }
}

.name h1{
    margin: 0;
    letter-spacing: 5px;
    align-items: center;
}
.name{
    margin-top: 25px;
}
.funcao span{
    font-size: 18px;
    font-weight: 100;
    color: #7FD958;
    letter-spacing: 3px;
    font-style: italic;
}
.funcao{
    margin-top: 20px;
    margin-bottom: 15px;
}
.resumo{
    font-weight: 100;
    letter-spacing: 1px;
}
.educacao h1{
    font-size: 23px;
    font-weight: 300;
    color: #7FD958;
    letter-spacing: 3px;
}
.educacao{
    margin-top: 20px;
}
.educacao-form{
    display: flex;
    flex-direction: column;
}
.contato{
    margin-top: 20px;
}
.contato h1{
    font-size: 23px;
    font-weight: 300;
    color: #7FD958;
    letter-spacing: 3px;
}
.contato ul{
    margin: 0;
    padding-inline-start: 0px;
    font-weight: 100;
    list-style-type: none;
    letter-spacing: 1px;
}
.contato li{
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    align-items: center; 
}
.contato li img {
    margin-right: 10px;
    width: 20px;
}