.colum-1 {
    width: 25%;
    flex-direction: column;
    background-color: black;
    color: white;
    display: flex;
    padding: 55px;
}

.img-profile {
    border: solid 4px #7FD958;
    border-radius: 50%;
    align-items: center;
}

.img {
    align-self: center;
    background-color: #7FD958;
    background-image: url('../img/profile.jpg');
    background-size: cover; 
    background-position: 50% 50%;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
}
.img:hover{
    animation: zoom-infinite 5s; 
}

@keyframes zoom-infinite {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 120%; 
    }
}

.name h1{
    margin: 0;
    letter-spacing: 5px;
    align-items: center;
}
.name{
    margin-top: 25px;
}
.funcao span{
    font-size: 18px;
    font-weight: 100;
    color: #7FD958;
    letter-spacing: 3px;
    font-style: italic;
}
.funcao{
    margin-top: 20px;
    margin-bottom: 15px;
}
.resumo{
    font-weight: 100;
    letter-spacing: 1px;
}